<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Allgemein">
        <setting id="default.skip" type="slider" label="32011" default="45" range="10,120" option="int" />
        <setting id="manage_service" type="action" label="32010" action="RunScript(script.skipintro,mode=toggle_service)" />
        <setting id="manage_auto" type="action" label="32012" action="RunScript(script.skipintro,mode=toggle_auto)" />
        <setting id="delete_series" type="action" label="Löschen" action="RunScript(script.skipintro,mode=delete)" />
	</category>
</settings>

